{% extends 'layout.html' %}
{% block content %}
<!-- navbar start-->
<div class="container">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">All products</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Brands
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for brand in brands %}
            <a class="dropdown-item" href="{{url_for('filter_byBrand', id = brand.id)}}">{{brand.name}}</a>
            {% endfor %}
          </div>
        </li>
        <!-- categories dropdown-->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categories
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for category in categories %}
            <a class="dropdown-item" href="{{url_for('filter_byCategory', id = category.id)}}">{{category.name}}</a>
            {% endfor %}
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
</div>
<!-- navbar end-->
<div class="container">
    <div class="row">
      {% if brand %}
        {% for br_id in brand %}
          <div class="col-md-3 mt-3">
              <div class="card">
                  <img src="{{url_for('static', filename='images/' + br_id.image_1)}}" class="card-img-top" height="200" alt="{{br_id.name}}">
                  <div class="card-body">
                    {% if br_id.discount > 0 %}
                    <p class="text-center">Discount: {{br_id.discount}}%</p>
                    {% endif %}
                    <h5 class="text-center">{{br_id.name}}</h5>
                    <p class="text-center">Price: {{br_id.price}}$</p>
                  </div>
                  <div class="card-footer">
                      <a href="#" class="float-left btn btn-sm btn-primary">Details</a>
                      <a href="#" class="float-right btn btn-sm btn-warning">Add to cart</a>
                  </div>
              </div>
          </div>
        {% endfor %}
      {% elif category %}
        {% for cat_id in category %}
          <div class="col-md-3 mt-3">
              <div class="card">
                  <img src="{{url_for('static', filename='images/' + cat_id.image_1)}}" class="card-img-top" height="200" alt="{{cat_id.name}}">
                  <div class="card-body">
                    {% if cat_id.discount > 0 %}
                    <p class="text-center">Discount: {{cat_id.discount}}%</p>
                    {% endif %}
                    <h5 class="text-center">{{cat_id.name}}</h5>
                    <p class="text-center">Price: {{cat_id.price}}$</p>
                  </div>
                  <div class="card-footer">
                      <a href="#" class="float-left btn btn-sm btn-primary">Details</a>
                      <a href="#" class="float-right btn btn-sm btn-warning">Add to cart</a>
                  </div>
              </div>
          </div>
        {% endfor %}
      {% else %}  
        {% for product in products.items %}
          <div class="col-md-3 mt-3">
              <div class="card">
                  <img src="{{url_for('static', filename='images/' + product.image_1)}}" class="card-img-top" height="200" alt="{{product.name}}">
                  <div class="card-body">
                    {% if product.discount > 0 %}
                    <p class="text-center">Discount: {{product.discount}}%</p>
                    {% endif %}
                    <h5 class="text-center">{{product.name}}</h5>
                    <p class="text-center">Price: {{product.price}}$</p>
                  </div>
                  <div class="card-footer">
                      <a href="#" class="float-left btn btn-sm btn-primary">Details</a>
                      <a href="#" class="float-right btn btn-sm btn-warning">Add to cart</a>
                  </div>
              </div>
          </div>
        {% endfor %}
        {% for page_num in products.iter_pages() %}
        {{page_num}}
        {% endfor %}
      {% endif %}
    </div>
</div>

{% endblock %}